@import '../../default';

.CollectionDetailsPage {
  background: $bg-color-gradient-mobile;
  background-size: 150%;
  background-attachment: fixed;

  .page-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 6.4rem);
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;

    .headline-wrapper {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      width: 100%;

      h1 {
        font-size: $font1;
        font-weight: 700;
        text-align: center;
        color: $primary-text;
      }

      .edit {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 16px;
        cursor: pointer;

        .edit-icon {
          height: 1.6rem;
        }
      }
    }

    .details-info-wrapper {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      width: 100%;
      margin: 1.6rem 0;

      p {
        font-size: $font3;
      }

      .bold {
        font-weight: 700;
      }

      .green-number {
        color: $green;
      }

      .purchase-price-wrapper,
      .market-price-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 3.2rem;
        width: 31rem;
      }

      .market-data-button {
        width: 100%;
        max-width: 11.4rem;
        height: 3.2rem;
        border-radius: $button-border-radius;
        background-color: $yellow;
        font-size: $font5;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
      }
    }

    .detail-cards-wrapper {
      h4 {
        font-size: $font4;
        font-weight: 700;
        text-align: center;
        color: $primary-text;
        margin-top: 3rem;
      }
    }
  }
}
