@import '../../default';

.Hamburger {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  margin-left: calc(50% - 103px);

  .hamburger-icon {
    height: 2.4rem;
    color: $secondary-text;
  }
}
