@import '../../default';

.Menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(35, 35, 35, 0.932);
  backdrop-filter: blur(15px);
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MenuContent {
  .MenuOptions {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.8rem;
    font-size: $font2;
    color: $secondary-text;
    font-weight: 700;
    padding: 1.6rem 1.6rem 0 0;

    button {
      padding: 0.8rem;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: calc(100% - (100% - 2.4rem));
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: calc(100% - 4.8rem);
    padding: 1.6rem 0;
    font-size: $font5;
    color: $secondary-text;
    border-top: 0.2rem solid $secondary-text;

    button,
    p {
      padding: 0.8rem;
    }
  }
}
