@import "../../default";

.LandingPage {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: $bg-color-gradient;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
    padding: 3.2rem;

    .image-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 3.2rem;
    }

    .card1 {
        position: relative;
        top: 3.2rem;
        grid-column: 1 / 4;
        grid-row: 1;
        z-index: 3;
    }

    .card2 {
        grid-column: 2 / -1;
        grid-row: 1;
    }

    .card {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .button-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
        width: 100%;
        padding-bottom: 1.6rem;
    }
}
