@import '../../default';

.CollectionDetailsSingleCardsContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3.2rem;

  .collection-details-single-cards-content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.6rem;
  }
}
