@import '../../default';

.LoginPageErrorModal {
  width: 100%;
  position: absolute;
  top: -30px;

  .Error-TextContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .Error-Text {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: #e3051f;
  }
}
