@import '../../default';

.Header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.4rem;
  padding: 0 0.8rem;
  padding: 0 calc(0.8rem + env(safe-area-inset-right)) 0
    calc(0.8rem + env(safe-area-inset-right));

  .hamburger-wrapper {
    position: absolute;
    top: 0.8rem;
    right: calc(0.8rem + env(safe-area-inset-right));
  }
}
