@import '../../default';

.DeleteConfirmationModal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.942);
  backdrop-filter: blur(3.2rem);
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  padding: 3.2rem;
  display: flex;
  align-items: end;
}

.confirmation-content {
    min-height: 40%;
    display: flex;
    flex-flow: column nowrap;
    
    gap: 1.6rem;

      p {
        font-size: $font2;
        font-weight: 600;
        text-align: center;
        line-height: 1.15;
        color: $secondary-text;
      }
      
      .delete-button {
      width: 100%;
      max-width: 40rem;
      height: 5.6rem;
      margin: auto 0 1.6rem 0;
      line-height: 5.6rem;
      border-radius: $button-border-radius;
      background-color: #e24a5d;
      color: $secondary-text;
      font-size: $font3;
      text-align: center;
      cursor: pointer;
      }
      
      .Button {
        background-color: rgba(255, 255, 255, 0.171);
        font-size: $font3;
        margin-bottom: 1.6rem;
      }
  }
