@import '../../default';

.SealedProductsResults {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  width: 100%;

  .sealed-products-results-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    margin-top: 0.8rem;
  }
}
