@import '../../default';

.CollectionSummary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
  min-width: 20rem;
  max-width: calc(100% - 6.4rem);
  padding: 0.8rem 2.4rem 2.4rem 2.4rem;
  border-radius: 2.4rem;
  color: $secondary-text;
  background-color: $transparent-white50;
  backdrop-filter: blur(1.6rem);

  .collection-tcg-type-logo {
    height: 2.4rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h2 {
    font-size: $font2;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
  }

  .card-count-wrapper,
  .product-count-wrapper,
  .collection-value-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: $font3;
    font-weight: 700;

    .icon-wrapper {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  .collection-details-link {
    width: 100%;
    font-size: $font4;
    font-weight: 700;
    text-align: center;
    padding: 1.6rem 2.4rem;
    border: 0.2rem solid $secondary-text;
    border-radius: 2.5rem;
    cursor: pointer;
  }
}
